[Unit]
Description=Wireguard status service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /usr/local/bin/wgstatus.py wgvp

[Install]
WantedBy=multi-user.target
